---
import TutorialLayout from '../../layouts/TutorialLayout.astro';
import TutorialMenu from '../../components/TutorialMenu.astro';

export async function getStaticPaths() {
  const slides = await Astro.glob('./*.mdx');
  let result = slides.map((item) => ({
      params: {
        slug: item.frontmatter.slug,
      },
      props: {
        item
      }
    }));
    console.log(result);
    console.log(result.length);

  return result;
}

const { Content, frontmatter } = Astro.props.item;

---

<TutorialLayout title={frontmatter.title}>
<div class='flex flex-row'>
  <TutorialMenu />
  <article class="container mx-auto p-6 h-screen transition-fade">
    <span class="prose">
      <Content />
    </span>
  </article>
</div>
</TutorialLayout>