---
import TutorialLayout from '../../layouts/TutorialLayout.astro';

export async function getStaticPaths() {
  const items = await Astro.glob('./*.mdx');

  return items.map((item) => ({
      params: {
        slug: item.frontmatter.slug,
      },
      props: {
        item
      }
    }));
}
---

<TutorialLayout title='AppyDave - Tutorials'>
  <slot />
  <div class="container mt-16">
    <div>
      <p>Menu Goes Here</p>
      <p>It should be in asside</p>
      <p>It should highlight based on current page</p>
    </div>
  </div>
</TutorialLayout>

