---
import TutorialMenu from '../../components/TutorialMenu.astro';

export async function getStaticPaths() {
  const items = await Astro.glob('./*.mdx');

  return items.map((item) => ({
      params: {
        slug: item.frontmatter.slug,
      },
      props: {
        item
      }
    }));
}

const { Content, frontmatter } = Astro.props.item;

---

<header>
</header>
<main>
  <div class='flex flex-row'>
    <TutorialMenu />
    <article class="container mx-auto mt-6 debug-red ">
      <Content />
    </article>
  </div>
</main>  
