---
import TutorialLayout from '../../layouts/TutorialLayout.astro';
import TutorialMenu from '../../components/TutorialMenu.astro';

export async function getStaticPaths() {
  const slides = await Astro.glob('./*.mdx');

  return slides.map((item) => ({
      params: {
        slug: item.frontmatter.slug,
      },
      props: {
        item
      }
    }));
}

const { Content, frontmatter } = Astro.props.item;

---

<TutorialLayout title={frontmatter.title}>
<div class='flex flex-row'>
  <TutorialMenu />
  <article class="container mx-auto p-6 debug-red h-screen">
    <Content />
  </article>
</div>
</TutorialLayout>