---
import TutorialLayout from '../../layouts/TutorialLayout.astro';
import TutorialMenu from '../../components/TutorialMenu.astro';
---

<TutorialLayout title='Factory Bot'>
<div class='flex flex-row'>
  <TutorialMenu />
  <article class="container mx-auto p-6 h-screen">
    <h1 class="text-4xl ">Factory Bot</h1>
  </article>
</div>
</TutorialLayout>