---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout>

  <p>Goal</p>
  <ul>
    <li>Create a main layouts</li>
    <li>Add support for custom HEAD that uses Swup</li>
    <li>Create a child layout that inherits from main layout</li>
    <li>Turn any blog posts into a slide show page</li>
    <li>Slide show pages have there fair share of animation going on</li>
    <li>Research: Has anyone used swup for slideshows</li>
    <li>Research: What is a basic slide show animation</li>
    <li>Javascript: Read ruby code and make available as styleized HTML</li>
    <li>How do you do Stylized Side by Side Compare</li>
    <li>Create a dynamic menu structure</li>
    <li>Create search component linked to Cmd+K</li>
  </ul>
</MainLayout>