---
export interface Props {
  label: string;
}

const { label } = Astro.props as Props;
---

<div class="space-y-2">
  <h2 class="text-sm font-semibold tracking-widest uppercase dark:text-gray-400">{label}</h2>
  <div class="flex flex-col space-y-1">
    <slot />
  </div>
</div>
