---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { 'text-red-700': isActive }, ' uppercase text-xs font-bold cursor-pointer']} {...props}>
  <slot />
</a>

