---
import MenuGroup from "./MenuGroup.astro";
import MenuItem from "./MenuItem.astro";
---

<aside class="w-full p-6 sm:w-60 dark:bg-gray-900 dark:text-gray-100">
  <nav class="space-y-8 text-sm">
    <MenuGroup label='Xmen'>
      <MenuItem href="/factory-bot/my-first-post" label='My first MDX post' />
      <MenuItem href="/factory-bot/blah-blah" label='Blah Blah' />
      <MenuItem href="/factory-bot/another-post" label='Something Gool' />
    </MenuGroup>
    <MenuGroup label='Ymen'>
      <MenuItem href="/factory-bot/my-first-post" label='My first MDX post' />
      <MenuItem href="/factory-bot/blah-blah" label='Blah Blah' />
      <MenuItem href="/factory-bot/another-post" label='Something Gool' />
    </MenuGroup>
  </nav>
</aside>
